/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: '29LT-Azer';
    src: url('../fonts/29LT-Azer/29LT-Azer-Black.otf') format('opentype');
}

@font-face {
    font-family: '29LT-Azer';
    font-weight: bold;
    src: url('../fonts/29LT-Azer/29LT-Azer-Bold.otf') format('opentype');
}

@font-face {
    font-family: '29LT-Azer';
    font-weight: lighter;
    src: url('../fonts/29LT-Azer/29LT-Azer-Light.otf') format('opentype');
}

@font-face {
    font-family: '29LT-Azer';
    font-weight: 400;
    src: url('../fonts/29LT-Azer/29LT-Azer-Regular.otf') format('opentype');
}

@font-face {
    font-family: '29LT-Azer';
    font-weight: 300;
    src: url('../fonts/29LT-Azer/29LT-Azer-Thin.otf') format('opentype');
}

/* General */
:root {
    --font-english: 'Montserrat';
    --font-arabic: '29LT-Azer';
    --color-white: #fff;
    --color-black: #000;
    --color-purple-text: #4E3079;
    --color-purple-background-light: #6F43A8;
    --color-purple-background-strong: #381E60;
}

#app {
    width: 100%;
    max-width: 576px;
    margin: 0 auto;
    color: var(--color-white);
    overflow-x: hidden;
    font-family: var(--font-english);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    animation: fadeIn 0.25s;
}

html[lang='ar'] #app {
    direction: rtl;
    font-family: var(--font-arabic);
}

.page {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    padding: 130px 20px 170px 20px;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.header .logo {
    max-width: 75px;
}

.header .logo-separator {
    max-height: 43px;
    margin: 0 12.5px;
}

.header .title {
    font-size: 12px;
    font-weight: bold;
}

.header .locale {
    font-family: var(--font-arabic);
    font-size: 18px;
    color: var(--color-white);
    text-decoration: none;
    margin-left: auto;
    transition: 0.1s;
}

html[lang='ar'] .header .locale {
    margin-left: unset;
    margin-right: auto;
}

.header .locale:hover {
    opacity: 0.8;
}

/* Welcome Page */
html[lang='ar'] .welcome.page {
    padding-top: 80px;
}

.welcome .title {
    font-size: 70px;
    font-weight: bold;
    white-space: pre-line;
    line-height: 74px;
}

html[lang='ar'] .welcome .title {
    font-size: 130px;
    line-height: 134px;
}

.welcome .title-description {
    font-size: 22px;
    white-space: pre-line;
    margin-top: 20px;
}

html[lang='ar'] .welcome .title-description {
    font-size: 24px;
    font-weight: bold;
}

html[lang='ar'] .welcome .title-description {
    font-size: 28px;
}

.welcome .action-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

.welcome .action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 270px;
    font-size: 28px;
    font-weight: bold;
    color: var(--color-purple-text);
    background-color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.1s;
}

html[lang='ar'] .welcome .action-button {
    font-size: 36px;
}

.welcome .action-button:focus,
.welcome .action-button:hover {
    color: var(--color-white);
    background-color: var(--color-purple-background-strong);
}

.welcome .action-description {
    margin-top: 16px;
    font-size: 12px;
}

html[lang='ar'] .welcome .action-description {
    font-size: 16px;
}

/* Quiz Page */
.quiz.page {
    padding-top: 60px;
}

.quiz .question-counter-container {
    display: flex;
    align-items: center;
}

.quiz .question-icon {
    width: 20px;
}

.quiz .question-counter {
    display: flex;
    font-size: 40px;
    font-weight: 300;
}

html[lang='ar'] .quiz .question-counter {
    flex-direction: row-reverse;
}

.quiz .question-counter span {
    margin: 0 10px;
}

.quiz .question-text-container {
    min-height: 120px;
    margin-top: 10px;
}

html[lang='ar'] .quiz .question-text-container {
    min-height: 90px;
}

.quiz .question-text {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}

.quiz .question-options-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
}

.quiz .option-container {
    cursor: pointer;
    width: 100%;
    padding: 20px;
    transition: 0.25s;
    background-color: var(--color-purple-background-light);
    border-radius: 10px;
}

.quiz .option-container.option-chosen {
    background-color: var(--color-white);
    color: var(--color-purple-text);
}

.quiz .option-container:not(:first-child) {
    margin-top: 20px;
}

.quiz .option-counter {
    font-size: 16px;
}

.quiz .option-text {
    font-size: 16px;
}

/* Result Page */
.result.page {
    padding-top: 0;
    padding-bottom: 20px;
}

.result .intro-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.result .intro-img {
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
}

.result .coffee-shop-logo {
    margin-top: 10px;
    max-width: 75px;
}

.result .title {
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
    margin-top: 20px;
    white-space: pre-wrap;
}

html[lang='ar'] .result .title {
    font-size: 54px;
    line-height: 58px;
}

.result .title-description {
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
}

html[lang='ar'] .result .title-description {
    font-size: 24px;
    line-height: 28px;
}

.result .instagram-container {
    margin-top: 36px;
    min-height: 625px;
}

.result .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.result .form {
    width: 100%;
    margin-top: 20px;
}

.result .form-header {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--color-white);
    background-color: var(--color-purple-background-strong);
    border-radius: 10px;
    transition: 0.25s;
}

.result .form-header.collapsed {
    color: var(--color-purple-text);
    background-color: var(--color-white);
    border-radius: 10px;
}

.result .form-header[aria-expanded='true'] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

html[lang='ar'] .result .form-header {
    font-size: 22px;
}

.result .arrow {
    filter: invert(100%) sepia(0%) saturate(16%) hue-rotate(339deg) brightness(103%) contrast(100%);
    width: 12.5px;
    margin-left: 5px;
}

.result .form-header.collapsed .arrow {
    filter: invert(19%) sepia(64%) saturate(1269%) hue-rotate(237deg) brightness(93%) contrast(92%);
}

html[lang='ar'] .result .arrow {
    margin-left: unset;
    margin-right: 5px;
}

.result .accordion-body {
    position: relative;
    background-color:rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.result .form-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.result .form-input-container {
    width: 100%;
}

.result .form-input-container:not(:first-child) {
    margin-top: 20px;
}

.result .form-label {
    display: block;
    font-size: 14px;
    color: var(--color-white);
}

html[lang='ar'] .result .form-label {
    font-size: 20px;
}

.result .form-input-text {
    width: 100%;
    border-radius: 10px;
}

.result .form-input-text:focus,
.result .form-input-text:hover {
    box-shadow: none !important;
    border-color: var(--color-purple-background-light) !important;
}

.result .bootstrap-select a[role='option'] .text {
    width: 100%;
}

.result .option-container {
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    margin-top: 10px;
    border-radius: 10px;
    transition: 0.25s;
    border: 1px solid transparent;
}

.result .option-container:first-child {
    margin-top: unset;
}

.result .option-container.invalid {
    border: 1px solid rgb(220, 53, 69);
}

.result .option-container.chosen {
    color: var(--color-white);
    background-color: var(--color-purple-background-strong);
}

.result .option-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.result .option-logo {
    width: 70px;
    margin: 5px 10px;
}

.result .option-logo.invert {
    filter: invert(100%);
}

.result .option-separator {
    width: 1px;
    background-color: var(--color-black);
    transition: 0.25s;
}

.result .option-container.chosen .option-separator {
    background-color: var(--color-white);
}

.result .option-text {
    font-size: 14px;
    font-weight: bold;
    color: var(--color-black);
    white-space: pre-line;
    padding: 10px;
    transition: 0.25s;
}

html[lang='ar'] .result .option-text {
    font-size: 24px;
    line-height: 28px;
}

.result .option-container.chosen .option-text {
    color: var(--color-white);
}

html[lang='ar'] .result .option-text {
    margin-left: 0;
    margin-right: 10px;
}

.result .form-submit-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.result .form-submit {
    height: 62px;
    width: 100%;
    font-weight: bold;
    color: var(--color-purple-text);
    background-color: var(--color-white);
    border: unset;
    border-radius: 10px;
    transition: 0.25s;
}

.result .form-submit:focus,
.result .form-submit:hover {
    color: var(--color-white);
    background-color: var(--color-purple-background-strong);
}

.result .claim-container {
    border: 2px solid var(--color-white);
    border-radius: 10px;
    padding: 20px;
}

.result .claim-container .intro-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result .claim-container .intro-img {
    width: 200px;
}

.result .claim-container .title {
    font-size: 36px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.result .claim-container .coupun {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

.result .claim-container .description-1 {
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.result .claim-container .description-2 {
    font-size: 14px;
    width: 100%;
    text-align: center;
    white-space: pre-line;
}

.result .take-screenshot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.result .screenshot-text {
    font-size: 18px;
    line-height: 22px;
    white-space: pre-line;
    font-weight: bold;
}

.result .share-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
}

.result .shareon {
    opacity: 0;
}

.result .shareon a:hover {
    color: var(--color-white);
}

html[lang='ar'] .result .shareon>:not(:empty)::before {
    left: 8px;
}

.result .share-text-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.result .share-text-container:focus,
.result .share-text-container:hover {
    opacity: 0.8;
}

.result .share-icon {
    width: 18px;
    margin-right: 10px;
}

html[lang='ar'] .result .share-icon {
    margin-right: unset;
    margin-left: 10px;
    transform: scaleX(-1);
}

.result .share-text {
    font-size: 18px;
    text-decoration: underline;
}

.result .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.result .footer-container .social-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result .footer-container .social-img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-left: 5px;
}

.result .footer-container .social-link {
    font-size: 12px;
    color: var(--color-white);
    text-decoration: underline;
    margin-top: 2px;
    margin-left: 10px;
}

.result .footer-container .social-link:focus,
.result .footer-container .social-link:hover {
    opacity: 0.8;
}

/* Animations */
.fade-in {
    animation: fadeIn 0.25s;
}

.fade-out {
    animation: fadeOut 0.25s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Widgets */
.bootstrap-select button.dropdown-toggle {
    background-color: #fff;
    border: 1px solid #000;
}

html[lang='ar'] .bootstrap-select .filter-option-inner {
    text-align: right;
}

.bootstrap-select button.dropdown-toggle:focus {
    color: #212529 !important;
    background-color: #fff !important;
    border-color: #86b7fe !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%) !important;
}

html[lang='ar'] .result .bootstrap-select a[role='option'] .text {
    text-align: right;
}
